{% extends "base_generic.html" %}

{% block content %}
    <p>Ваши карты {{ user_card }}</p>
    <p>Карты соперника {{ other_card }}</p>
    <p>Счет {{ x1 }} : {{ x2 }}</p>
    {{ text }}
    {% if user %}
        <form action="" method="post">
            {% csrf_token %}
            <textarea id="move" name="move" placeholder="Ваш ход"></textarea>
            <input type="submit" id='submit' value="Submit"/>
        </form>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" id='next' value="Далее"/>
        </form>
    {% endif %}
{% endblock %}
